@{
    ViewBag.Title = "Zaposleni";
}

<script src="/Scripts/jquery-3.4.1.js"></script>

<div class="row">

    <div class="col-sm-2">
        <br />
        <label for="input_ime">Ime:</label>
        <input type="text" id="input_ime" />
        <label for="input_prezime">Prezime:</label>
        <input type="text" id="input_prezime" />
        <label for="input_adresa">Adresa:</label>
        <input type="text" id="input_adresa" />
        <label for="input_neto_plata">Neto plata:</label>
        <input type="text" id="input_neto_plata" /><br /><br />
        <input type="button" id="input_sacuvaj" value="Unesi" /><br /><br />
        <input type="button" id="input_prikazi" value="Prikazi tabelu" /><br /><br />
        <p id="poruka"></p>
    </div>
</div>

<script>

    $(function () {

        $("#input_sacuvaj").click(function () {

            var radnik = {
                ime: $("#input_ime").val(),
                prezime: $("#input_prezime").val(),
                adresa: $("#input_adresa").val(),
                netoPlata: parseFloat($("#input_neto_plata").val())
            };

            var radnikJSON = JSON.stringify(radnik);

            $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: radnikJSON,
                    url: "/home/Upisi",
                success: function (ret) {
                    $("#poruka").text("Radnik: " + ret.ime + " " + ret.prezime +
                        " je upisan u bazu podataka! Neto plata iznosi: "+ret.brutoPlata);
                    },
                error: function (e) {
                    $("#poruka").text("Doslo je do greske! Molim Vas pokusajte ponovo.");
                    }
            });
        });

        $("#input_prikazi").click(function () {

            window.location.href = "/home/Tabela";
        });
    });
    
</script>