
@{
    ViewBag.Title = "Tabela";
}



<script src="/Scripts/jquery-3.4.1.js"></script>

<script>

$(function () {

    var radnik = {
        ID: 0,
        Ime: "Ime",
        Prezime: "Prezime",
        Adresa: "Adresa",
        NetoPlata: 0,
        greska: {ime: "Niste uneli validno ime!", prezime: "Niste uneli validno prezime!", 
            adresa: "Niste uneli validnu adresu!", netoPlata: "Niste uneli validnu neto platu!",
            brutoPlata: "Niste uneli validnu bruto platu!",
            zastave: { ime: false, prezime: false, adresa: false, netoPlata: false, brutoPlata: false }
        }
    };

    var radnikJSON = JSON.stringify(radnik);

    $.ajax({
        type: "POST",
        dataType: "json",
        url: "/home/Vrati",
        success: function (ret) {
            document.writeln("<style>#zaposleni th, #zaposleni td {padding: 8px; border: 1px solid #ddd; text-align: left;}" +
                                "#zaposleni {border-collapse: collapse; width: 100%;}</style>");
            document.writeln("<table id=\"zaposleni\"><thead><tr><th>ID</th>");
            document.writeln("<th>Ime</th>");
            document.writeln("<th>Prezime</th>");
            document.writeln("<th>Adresa</th>");
            document.writeln("<th>Neto plata</th>");
            document.writeln("<th>Bruto plata</th></tr>");
            document.writeln("</tr></thead><tbody>");
            for (i = 0; i < ret.length; i++) {
                document.writeln("<tr>");
                document.writeln("<td>" + ret[i].ID + "</td>");
                document.writeln("<td>" + ret[i].Ime + "</td>");
                document.writeln("<td>" + ret[i].Prezime + "</td>");
                document.writeln("<td>" + ret[i].Adresa + "</td>");
                document.writeln("<td>" + ret[i].NetoPlata.toFixed(2) + "</td>");
                document.writeln("<td>" + ret[i].BrutoPlata.toFixed(2) + "</td>");
                document.writeln('<td><input type="button" value="Izmeni" id="i' + ret[i].ID + '" />' +
                    '<input type="button" value="Potvrdi" style="visibility:hidden" id="p' + ret[i].ID + '" />' +
                    '<input type="button" value="Otkazi" style="visibility:hidden" id="ot' + ret[i].ID + '" /></td >');
                document.writeln('<td><input type="button" value="Obrisi" id="ob' + ret[i].ID + '" /></td></tr>');
            }
            document.writeln("</tbody></table>");
            document.writeln('<br /><input type="button" id="nazad" value="Vrati se nazad" />');
            $("#nazad").click(function () {
                window.location.href = "/home/Index";
            });

            $('input[id^="i"]').click(function () {

                var ulaz = this.id;
                radnik.ID = (ulaz.match(/\d+/))[0];

                $(':button').prop('disabled', true);
                                                                                                           
                var drugoDugme = document.getElementById(ulaz).nextElementSibling;
                att = document.createAttribute("style");
                att.value = "visibility:visible";
                drugoDugme.setAttributeNode(att);

                $('#p' + radnik.ID).prop('disabled', false);

                var treceDugme = document.getElementById(ulaz).nextElementSibling.nextElementSibling;
                att = document.createAttribute("style");
                att.value = "visibility:visible";
                treceDugme.setAttributeNode(att);

                $('#ot' + radnik.ID).prop('disabled', false);

                var redTabele = document.getElementById(ulaz).parentElement.parentElement;

                celije = redTabele.getElementsByTagName("td");

                radnik.Ime = $(celije[1]).text();
                radnik.Prezime = $(celije[2]).text();
                radnik.Adresa = $(celije[3]).text();
                radnik.NetoPlata = $(celije[4]).text();
                radnik.BrutoPlata = $(celije[5]).text();

                for (i = 1; i < 6; i++) {
                    att = document.createAttribute("contenteditable");
                    att.value = "true";
                    celije[i].setAttributeNode(att);
                    att = document.createAttribute("style");
                    att.value = "background-color: lightgray";
                    celije[i].setAttributeNode(att);
                }

                celije[1].focus();

                $(celije[1]).on("blur", function () {
                    var ime = $(celije[1]).text();
                    if (/[0-9!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(ime)) {
                        $(celije[1]).text(radnik.Ime);
                        alert(radnik.greska.ime);
                    }
                });

                $(celije[2]).on("blur", function () {
                    var prezime = $(celije[2]).text();
                    if (/[0-9!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(prezime)) {
                        $(celije[2]).text(radnik.Prezime);
                        alert(radnik.greska.prezime);
                    }
                });

                $(celije[3]).on("blur", function () {
                    var adresa = $(celije[3]).text();
                    if (/[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\?]+/.test(adresa) ||
                        (!isLetter(adresa.charAt(0)))) {
                        $(celije[3]).text(radnik.Adresa);
                        alert(radnik.greska.adresa);
                    }
                });

                $(celije[4]).on("blur", function () {
                    var temp = parseFloat($(celije[4]).text());
                    if (!isFinite(temp) || (temp < 0)) {
                        $(celije[4]).text(radnik.NetoPlata);
                        alert(radnik.greska.netoPlata);
                    }
                    else {
                        temp = (temp + ((temp * 36.55) / 100)).toFixed(2);
                        $(celije[5]).text(temp);
                    }
                });

                $(celije[5]).on("blur", function () {
                    var temp = parseFloat($(celije[5]).text());
                    if (!isFinite(temp) || (temp < 0)) {
                        $(celije[5]).text(radnik.BrutoPlata);
                        alert(radnik.greska.BrutoPlata);
                    }
                    else {
                        temp = ((temp * 100) / 136.55).toFixed(2);
                        $(celije[4]).text(temp);
                    }
                });


                $('#ot' + radnik.ID).click(function () {
                    for (i = 1; i < 6; i++) {
                        att = document.createAttribute("contenteditable");
                        att.value = "false";
                        celije[i].setAttributeNode(att);
                        att = document.createAttribute("style");
                        att.value = "background-color: white";
                        celije[i].setAttributeNode(att);
                    }

                    $(':button').prop('disabled', false);

                    this.style = "visibility:hidden";
                    this.previousElementSibling.style = "visibility:hidden";

                    $(celije[1]).text(radnik.Ime);
                    $(celije[2]).text(radnik.Prezime);
                    $(celije[3]).text(radnik.Adresa);
                    $(celije[4]).text(radnik.NetoPlata.toFixed(2));
                    $(celije[5]).text(radnik.BrutoPlata.toFixed(2));
                });

                $('#p' + radnik.ID).click(function () {
                    radnik.ID = parseInt($(celije[0]).text());
                    radnik.Ime = $(celije[1]).text();
                    radnik.Prezime = $(celije[2]).text();
                    radnik.Adresa = $(celije[3]).text();
                    radnik.NetoPlata = parseFloat($(celije[4]).text());
                    radnik.BrutoPlata = parseFloat($(celije[5]).text());

                    var radnikJSON = JSON.stringify(radnik);

                    for (i = 1; i < 6; i++) {
                        att = document.createAttribute("contenteditable");
                        att.value = "false";
                        celije[i].setAttributeNode(att);
                        att = document.createAttribute("style");
                        att.value = "background-color: white";
                        celije[i].setAttributeNode(att);
                    }

                    $(':button').prop('disabled', false);

                    this.style = "visibility:hidden";
                    this.nextElementSibling.style = "visibility:hidden";
                                        
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: radnikJSON,
                        url: "/home/Izmeni",
                        success: function (ret) {
                            console.log(ret);
                        },
                        error: function (e) {
                            console.log("Greska: " + e);
                        }
                    });
                });
            });

            $('input[id^="ob"]').click(function () {

                var ulaz = this.id;
                radnik.ID = (ulaz.match(/\d+/))[0];

                document.getElementById(ulaz).parentElement.parentElement.remove();

                var radnikJSON = JSON.stringify(radnik);

                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: radnikJSON,
                        url: "/home/Obrisi",
                        success: function (ret) {
                            console.log(ret);
                        },
                        error: function (e) {
                            console.log("Greska: " + e);
                        }
                    });
            });
        },
        error: function (e) {
            console.log("Greska: " + e);
        }
    });
 
});

function isLetter(c) {
  return c.toLowerCase() != c.toUpperCase();
}

</script>
